body {
	background-image: url("cloud-background.jpg");
	font-family: monospace, "Lucida Console";
}

.container {
	padding-top: 15px;
	justify-content: center;
	text-align: center;
}

p {
	justify-content: center;
	margin: auto;
	border-style: solid;
	background-color: white;
	width: 850px;
}

#nav {
	background-color: white;
	border-style: solid;
	width: 290px;
	justify-content: center;
	text-align: center;
	align-self: center;
	margin: auto;
}

embed {
	background-color: white;
	border-style: solid;
	padding-top: 10px;
}